<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>JS Bin</title>
    <style>HTML,BODY { max-width:1200px; } .wrapper { position:relative;
      width:100%; max-width:1200px; height:700px; min-height:320px } .divimage {
      position:absolute; top:0; left:0; width:80%; height:100%;
      background:url("https://ecomdailynews.com/email/welcome.png");
      background-repeat:no-repeat; background-size:100% auto; } .divtext {
      position:absolute; top:0; left:0; width:100%; padding-top:33.5%;
      text-align:center; font-weight:bold; font-size:30px !important; color:white;
      font-family:Arial, Helvetica, sans-serif; } @media (min-width: 1200px) { .divtext{
      font-size:60px; } }</style>
  </head>
  <body>
    <DIV class="wrapper">
      <DIV class="divimage" />
      <DIV class="divtext">Hello {{name}}</DIV>
    </DIV>
  </body>
</html>